body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #f7f4ef;
}
nav {
  background: #0097a7;
  padding: 15px;
  text-align: center;
}
nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  color: #ffeb3b;
}
section {
  padding: 40px;
  text-align: center;
}
h1, h2 {
  color: #333;
}
.card {
  background: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  max-width: 700px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-5px);
}
img {
  width: 220px;
  border-radius: 10px;
  margin-top: 10px;
}
/* certificate grid */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid img {
  width: 200px;
  margin: 10px;
}
/* responsive */
@media(max-width:768px){
  img {
    width: 150px;
  }
}
